Gmail_and_Email_Automation/Effortless Email Management with AI-Powered Summarization & Review.txt
{
  "nodes": [
    {
      "parameters": {
        "html": "={{ $json.snippet }}",
        "options": {}
      },
      "id": "c1c253d8-32b0-4254-98fe-6d0825b124ab",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -1240,
        1077.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operationMode": "nodeInputBinary",
        "options": {
          "binaryDataKey": "={{ $json.data }}",
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.",
              "prompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."
            }
          }
        }
      },
      "id": "f6222a09-28b7-4a1e-b990-f4a1dd0d1fb7",
      "name": "Email Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -1020,
        1077.5
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the text to reply to the following email:\n\n{{ $json.response.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject\n\nSign off as Stanley - InfinityWebs"
        }
      },
      "id": "5d551d72-17c9-4f9b-a6b2-c692e2506acf",
      "name": "Write email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -644,
        1077.5
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "okukujnr7761@gmail.com",
        "subject": "=[Approval Required] {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "=<h3>MESSAGE</h3>\n{{ $('Gmail Trigger').item.json.snippet }}\n\n<h3>AI RESPONSE</h3>\n{{ $json.email }}",
        "responseType": "freeText",
        "options": {}
      },
      "id": "9d86c065-a188-4b77-b16e-36e172dca6a4",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -48,
        1002.5
      ],
      "webhookId": "d6dd2e7c-90ea-4b65-9c64-523d2541a054",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "kPdFTB78qFHSLL5h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The email has been reviewed and accepted as-is. The human explicitly or implicity express approva, indicating that no changes ar needed.\n\nExample:\n\"Ok\",\n\"Approvato\",\n\"Invia\""
            },
            {
              "category": "Declined",
              "description": "The email has been reviewd, but the human request modifications before it sent link tweaks, removing parts, rewording etc... This could include suggested edits, rewording or major revision."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "id": "50e75023-7152-4568-a7c9-b24cfa20c08e",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        172,
        1002.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35d7c303-42f4-4dd1-b41e-6eb087c23c3d",
              "name": "email",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0718f0d8-6554-4a40-8255-c06c501d58c7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -268,
        1077.5
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "b1a924b2-5d21-4438-afe9-32b616bd2eb9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1460,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://QDRANTURL/collections/COLLECTION",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"filter\": {}\n}",
        "options": {}
      },
      "id": "4a4d83ce-db59-4e8e-b3aa-97e6dfc0696a",
      "name": "Create collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1240,
        220
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://QDRANTURL/collections/COLLECTION/points/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"filter\": {}\n}",
        "options": {}
      },
      "id": "ae7521b2-b67d-4997-8abf-bcdd5b0c5420",
      "name": "Refresh collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1220,
        400
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "=test-whatsapp"
          }
        },
        "options": {}
      },
      "id": "9bad688c-c92c-4e71-b7f5-97569c618408",
      "name": "Get folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1020,
        420
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "6c6dcae3-ac7d-4288-b9f7-99d58e557dc0",
      "name": "Download Files",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -800,
        420
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "e95fb183-3c67-4456-a107-231ca7047d17",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -460,
        442.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 30
      },
      "id": "681fcff0-2fd1-4235-867e-9bc73fa64f5d",
      "name": "Token Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "position": [
        -372,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# STEP 1\n\n## Create Qdrant Collection\nChange:\n- QDRANTURL\n- COLLECTION",
        "height": 220,
        "width": 880,
        "color": 6
      },
      "id": "445f5df5-b89f-4f61-8d0d-75bf90aa8c92",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2140,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# STEP 2\n\n\n\n\n\n\n\n\n\n\n\n\n## Documents vectorization with Qdrant and Google Drive\nChange:\n- QDRANTURL\n- COLLECTION",
        "height": 400,
        "width": 620,
        "color": 4
      },
      "id": "6edaf3bc-359b-41b1-a94f-6eaa690fa0e0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "=COLLECTION"
        },
        "options": {}
      },
      "id": "4964a44a-be18-4ead-b1b0-f54a91bf5907",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        -564,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "08e5d2bb-2994-42b6-80c9-2f172d7667ee",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -580,
        440
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "# STEP 3 - MAIN FLOW\n\n\n## How it works\nThis workflow automates the handling of incoming emails, summarizes their content, generates appropriate responses using a retrieval-augmented generation (RAG) approach, and obtains approval or suggestions before sending replies. \n\nYou can quickly integrate Gmail and Outlook via the appropriate trigger nodes",
        "height": 760,
        "width": 580,
        "color": 3
      },
      "id": "946fa5c2-f0d5-4ce2-b4fd-5d65b3924a98",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2280,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Chain that summarizes the received email",
        "height": 240,
        "width": 320
      },
      "id": "c575c775-2e21-4b73-b089-7d9fa0565dcb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1052,
        997.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Agent that retrieves business information from a vector database and processes the response",
        "height": 240,
        "width": 340
      },
      "id": "d356e843-ea8a-4966-bf1f-fe0dc4ed28e9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -686,
        997.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert email to Markdown format for better understanding of LLM models",
        "height": 240
      },
      "id": "79033b15-686b-408d-8d29-c2d4fe481f96",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1310,
        997.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IMPORTANT\n\nFor the \"Send Draft\" node, you need to send the draft email to a Gmail address because it is the only one that allows the \"Send and wait for response\" function.",
        "height": 360,
        "color": 4
      },
      "id": "b9507845-596a-4fba-86c3-1e5f51c132df",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Based on the suggestion received, the text classifier can understand whether the feedback received approves the generated email or not.",
        "height": 240,
        "width": 360
      },
      "id": "082009a3-ecb0-46d0-b011-4ffc7707b84f",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        922.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review at the following email:\n{{ $('Edit Fields').item.json.email }}\n\nFeedback from human:\n{{ $json.data.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=If you are an expert in reviewing emails before sending them. You need to review and structure them in such a way that you can send them. It must be in HTML format and you can insert (if you think it is appropriate) only HTML characters such as <br>, <b>, <i>, <p> where necessary. Be concise and never exceed 100 words. Only the body of the email\n\nSign off as Stanley - InfinityWebs"
        }
      },
      "id": "19c07859-885e-43eb-8d31-57670cdd71df",
      "name": "Email Reviewer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        548,
        1177.5
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "The Email Reviewer agent, taking inspiration from human feedback, rewrites the email",
        "height": 220,
        "width": 340
      },
      "id": "9961b1c3-870e-4646-9f98-e473fb018d61",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        506,
        1117.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1460,
        1077.5
      ],
      "id": "ff1abf95-ad5f-4606-ad62-512d45515d14",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kPdFTB78qFHSLL5h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -932,
        1297.5
      ],
      "id": "ec3169bb-d06a-4023-99a2-375641b3f358",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "awxCTPIYaXxfQPfm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "Extracts information regarding the request made.",
        "pineconeIndex": {
          "__rl": true,
          "value": "cohere-embeddings",
          "mode": "list",
          "cachedResultName": "cohere-embeddings"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -644,
        1297.5
      ],
      "id": "45814731-d8d6-4780-bff9-3eaca29845fe",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qb1Oe4TwVfVGksZy",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -556,
        1492.5
      ],
      "id": "85ed29df-04d9-4fd2-90a2-1d7124124676",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Xy9DQfj5FcYJrqrc",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Re:  {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $('Edit Fields').item.json.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        626,
        952.5
      ],
      "id": "222f4746-6284-4a2a-a9d1-84ef35be9776",
      "name": "Gmail1",
      "webhookId": "dc231b0c-1b9f-4fd5-b97d-b761c50f4bf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "kPdFTB78qFHSLL5h",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Markdown": {
      "main": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Summarization Chain": {
      "main": [
        [
          {
            "node": "Write email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write email": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Create collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh collection": {
      "main": [
        [
          {
            "node": "Get folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get folder": {
      "main": [
        [
          {
            "node": "Download Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Files": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Email Reviewer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Write email",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Email Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Write email",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Email Reviewer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a0ff071da84c7af585be32f1dd9e2aa70fafb9b0f9e6963ca83ab29eab352bc"
  }
}
